<%- include('../components/header', {title: 'Home Manager'}) %>
<%- include('../components/menu') %>
<div class="index">
    <a class="button" href="/home">Acessar ao Home Manager !</a href="/home">
</div>
<%- include('../components/footer') %>