<div class="home_about">
    <p> O HomeManager  é uma aplicação que tem por objetivo gerenciar os afazeres e gastos de uma casa. Neste projeto, podemos encontrar uma seção para listar as tarefas pendêntes, outra seção para listas os gastos fixos, outra para lista os itens do mercado e uma última para gerenciar as economias mensais. </p>

</div>