<div class=footer_container >

    <div class=footerImg_container>
            <img  src='../../public/img/facebook.png'/>
            <img src='../../public/img/github.png'/>
            <img src='../../public/img/linkedin.png'/>
            <img src='../../public/img/instagram.png'/>
        </div>

        <p>HomeManager <span>since 2022</span></p>

        

    </div>