<div class="main_containerMercado">

    <form method="post" action="<%= url %>" class="container_inputs">
        <input required class="input" type='text' name='listamercado[produto]' placeholder='Nome do produto' />
        <input required class="input" type='number' name='listamercado[quantidade]' placeholder='Quantidade' txtLabel='Quantidade: ' />
        <button type="submit" class="button">Cadastrar !</button>

    </form >
</div>