
<div class='container_list'>
    <div class='titles'>
        <h3>Status</h3>
        <h3>Produto</h3>
        <h3>Quantidade</h3>
    </div>

<% listamercado.forEach(lista => { %>
    <div>
      
    
        <div class="row"> 

            <input type="checkbox" class='status'/>
            <p><%= lista.produto %></p>
            
            <p class="txt_icon"><%= lista.quantidade %> <a  href="/listamercado/<%= lista._id %>?_method=delete"><img class="icon" src="../../public/img/trash-bin.png"/></a></p>
            
        </div>
    </div>
<% }) %>

</div>