<div class=navbar_container>
    <div class=navbar_img_container>
        <a href="/"><img src='../../public/img/homeControl_Icon.png'/></a>  
    </div>
   
    
    <div>
        <a class="link" href="/gastosfixos">Gastos Fixos</a>
        <a class="link" href="/listamercado">Lista Mercado</a>
        <a class="link" href="/economia">Economias</a>
    </div>            
</div>