<form method="post" action="<%= url %>"  class='container_todolist'>
    <h2>Todo List</h2>
    <div class='input_todolist'>
        <input class="input" name="todolist[tarefa]" value="<%=todolist.tarefa%>"/>
        <button type="submit" class="button"><img class="icon" src="../../public/img/add.png"/></button>
    </div>

</form>